body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#84fab0,#8fd3f4);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:30px;
    border-radius:20px;
    width:400px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

input,textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:10px;
}

button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#4CAF50;
    color:white;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}